<nav class="navbar navbar-toggleable-md fixed-top navbar-inverse bg-primary ">
  <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse"
          data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand"  [routerLink]="['/dashboard']">{{title}}</a>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">

    </ul>

    <ul class="navbar-nav mt-2 mt-md-0">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/signup']" *ngIf="!isAuth()">S'inscrire</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/signin']" *ngIf="!isAuth()">Se connecter</a>
      </li>
      <li class="nav-item" *ngIf="isAuth()">
        <a class="nav-link" (click)="onLogout()"  style="cursor: pointer;">Se déconnecter</a>
      </li>
    </ul>
  </div>
</nav>
